<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SJ Sharks</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>San Jose Sharks</h1>

          <h4><a href="/api">Read My API Documentation</a> : <a href="/api/profile">Read My Profile</a></h4>
        </div>
  </header>
          
  <body>
      
          <form id="new-shark-form" method="POST" action="/api/sjsharks">

            <div id="input-fields">
            <input type="text" name="playerName" placeholder="Player Name"> 
            <input type="text" name="playerNumber" placeholder="Player Number"> <br>
            <input type="text" name="playerAge" placeholder="Player Age"> 
            <input type="text" name="playerPosition" placeholder="Player Position">
            <input type="text" name="playerImage" placeholder="Image URL" id="player-image">
            <input id='submit-button' type="submit" name="playerSubmit" value='Add A New Player'>
            </div>
          </form>
      </div>

      <div id="list-div">
         <ul id="sharksList">
    
          </ul>
      </div>

      <footer>
        <p>Developed by Christopher Chan</p>
      </footer>
        <script id="sharks-template" type="text/x-handlebars-template">
            {{#each allsharks}}
            <hr>
            <p>
              <div class="about-player">
                <b>Player:</b> {{name}}
              </div>
              <div class="about-player" id='player-number'>
                <b>Number:</b>  {{number}}
              </div>
              <div class="about-player" id="player-age">
                <b>Age:</b> {{age}}
              </div>
              <div class="about-player">
                <b>Position:</b> {{position}}
              </div>
               <div class="about-player">
                <img src= {{image}}>
              </div>

              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
            {{/each}}
          </script>
    </div>
  </body>
</html>
