header {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  background: url(/images/sharks.png);
  background-position: center;
  background-size: cover;
}

footer {
  background: black;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 80px;
  padding-top: 20px;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-family: impact;
  font-size: 60px;
  text-shadow:
   -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
     3px 3px 0 white;
}

input {
  padding: 5px;
  margin: 5px;
  border: 5px solid teal;
  width: 180px;

}

.about-player {
	width: 180px;
    display: inline-block;
}

#player-number {
	width: 120px;
}

#player-age {
	width: 120px;
}

#player-image {
	width: 375px;
}



img {
	height: 60px;
	width: 100px;
	vertical-align: center;
}

p {
	padding: 0 50px 10px 30px;
}
h4 {
	text-align: center;
}

a {
	color: white;
}

ul {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 0;
    padding-right: 30px;
}

#list-div {
    width: 1000px;
    margin: 0 auto;
}

#new-shark-form {
	margin-top: 10px;
}

.btn {
	margin-right: 50px;
}

#input-fields {
	width: 400px;
	margin: 0 auto;
}
#submit-button {
	width: 375px;
	font-weight: bold;
}

li {
	color: white;
}
